@page "/"
@rendermode InteractiveServer
@using BlazorWebApp.Client.Pages

<PageTitle>Home</PageTitle>

<div style="padding:10px; margin:10px;">
    @switch (pictureCounter)
    {
        case 0:
            <p>What is Blazor?</p>
            break;
        case 1:
            <Counter></Counter>
            break;
        case 2:
            <img src="Pictures/BlazorDifferenzierung.png" height="1200px" width="1200px" />
            break;
        default:
            break;

    }
</div>


<button @onclick="() => {pictureCounter--;}">previous</button>
<button @onclick="() => {pictureCounter++;}">next page</button>   

@code{
    private int pictureCounter = 0;
}
