@page "/todo"
@rendermode InteractiveAuto

<PageTitle>ToDo</PageTitle>

<ul>
    @foreach(ToDoItem item in toDoList)
    {
        <li class="List-Item">
            <input @bind=item.Title/>
            <i id="trashIcon" class="material-symbols-outlined"@onclick="() => Remove(item)">
                delete
            </i>
        </li>
    }
</ul>

<input placeholder="Something todo" @bind=ToDoBinder/>
<button class="button" @onclick=AddToDo>Add</button>

@code{
    private List<ToDoItem> toDoList = [];

    class ToDoItem(string title){
        public string Title = title ?? string.Empty;
    }    

    private string? ToDoBinder;
    void AddToDo(){
        if(ToDoBinder is null) return;
        toDoList.Add(new(ToDoBinder));
    }

    void Remove(ToDoItem item){
        toDoList.Remove(item);
    }
}
